.product-cards{
   margin: 1.5rem 3rem;
}

.category-btn{
    border: 2px solid #243f68;
    color: #243f68;
}

.category-btn:hover{
    background-color: #243f68;
    color: white;
}

@media only screen and (max-width: 480px) {
    .product-cards{
        margin: 1rem 0.5rem;
     }
}

@media only screen and (min-width: 481px) and (max-width: 768px) { 

    .product-cards{
        margin: 1.5rem 0rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) { 

    .product-cards{
        margin: 1.5rem 0rem;
    }
}

@media only screen and (min-width: 1025px) {
    .product-cards{
        margin: 1.5rem 0rem;
    }

 }
